{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
                <div class="card">
                    <div class="card-header card-header-text card-header-info">
                        <div class="card-text">
                            <h4 class="card-title">{{ 'front.index.login.title'|trans }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="login" method="post" action="/login_check">
                            <div class="form-group bmd-form-group">
                                <label for="login__username" class="required bmd-label-floating">
                                    {{ 'form.login.username'|trans({}, 'form') }}
                                </label>
                                <input type="text" id="_username" name="_username" required="required"
                                       class="form-control">
                            </div>
                            <div class="form-group bmd-form-group">
                                <label for="login__password" class="required bmd-label-floating">
                                    {{ 'form.login.password'|trans({}, 'form') }}
                                </label>
                                <input type="password" id="_password" name="_password" required="required"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="login_submit" name="login[submit]" class="btn-primary btn">
                                    {{ 'form.login.submit'|trans({}, 'form') }}
                                </button>
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('some-name') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}